services:
  backend:
    build: .
    container_name: rd-backend
    command: gunicorn rd_studio_backend.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
